.navBar {
    background-color: #001F3B;
    padding: 10px 0;
}

.navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #001F3B;
}

.navItem {
    margin: 0 15px;
    background-color: #001F3B;
}

.navLink {
    color: #FFFFDD;
    text-decoration: none;
    font-weight: bolder;
    background-color: #001F3B;
}

.navLink:hover {
    color: #009ffd;
}